@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --orange:#ffa500;
}

body {
	background: url("background.jpg") no-repeat center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

*{
	font-family: 'Nunito', sans-serif;
	box-sizing: border-box;
}


        .navbar{
            width:100%;
            padding:0 0;
            display:flex;
            justify-content:space-between;
        }
        .logo{
            width:15%;
            height: auto;
            cursor:pointer;
        }
        .logo {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }
        .logo:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
        .navbar ul li{
            padding-top:10px;
            list-style:none;
            display:inline-block;
            margin: 0 20px;
            font-family: "Nunito",serif;
            font-weight: bold;
            position: relative;
        }
        .navbar ul li a{
            text-decoration: none;
            color:#fff;
            text-transform:uppercase
        }
        .navbar ul li::after{
            content: '';
            height: 3px;
            width: 0;
            background:#4fffe5;
            position: absolute;
            left:0;
            bottom: -10px;
            transition: 0.5s;
        }
        .navbar ul li:hover::after{
            width: 100%;
        }



form {
	width: 500px;
	border: 4px solid #fff;
	padding: 30px;
	background-color: rgba(0,0,0,.1);
    	backdrop-filter: blur(10px);
	border-radius: 15px;
	margin: auto;
}

h2 {
	color: #fff;
	text-align: center;
	margin-bottom: 2s0px;
	font-size: 2rem;
	font-weight: bolder;
}

input {
	display: block;
	border: none;
	border-radius: 5px;
	border-bottom: 4px solid #4fffe5;
    	background-color: rgba(0,0,0,.5);
    	color:#fff;
    	font-weight: bolder;
	font-size: 1rem;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
}

input:hover{
	border-bottom: 4px solid orange;
}

label {
	color: #fff;
	font-size: 20px;
	font-weight: bolder;
	padding: 10px;
}

button {
	float: right;
	background-color: rgba(0,0,0,.5);
	font-weight: bolder;
	font-size: 1.2rem;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .8;
	color: orange;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

.ca {
	font-size: 1.2rem;
	font-weight: bolder;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #fff;
}
.ca:hover {
	text-decoration: underline;
	color: orange;
} 